[submodule "libs/reveal.js"]
	path = libs/reveal.js
	url = git@github.com:hakimel/reveal.js.git

[submodule "libs/reveal.js-plugins/menu"]
	path = libs/reveal.js-plugins/menu
	url = git@github.com:denehyg/reveal.js-menu.git

[submodule "libs/reveal.js-plugins/mermaid"]
	path = libs/reveal.js-plugins/mermaid
	url = git@github.com:mermaid-js/mermaid.git