node_modules/**
libs/reveal.js/node_modules/**
webpack.config.js
.vscode/**
.vscode-test/**
out/test/**
out/TestResults/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
samples/**
coverconfig.json
azure-pipelines.yml
azure-pipelines-steps.yml
.github/**
export/**
images/**
CHANGELOG.md
config.json
custom.css
resources/default-thumbnail.jpg
resources/image-placeholder.png
junit.xml
tslint.json
